<?php

$header = <<<'EOF'
This file is part of the ACF Uppy Field WordPress plugin.

(ɔ) Frugan <dev@frugan.it>

This source file is subject to the GPLv3 or later license that is bundled
with this source code in the file COPYING.
EOF;

// exclude will work only for directories, so if you need to exclude file, try notPath
$finder = PhpCsFixer\Finder::create()
    ->in([__DIR__])
	->exclude(['build', 'symlink', 'vendor'])
	->notPath(['acf-uppy.php'])
    ->append([__DIR__.'/php-cs-fixer'])
;

$config = PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
    	// default
        '@PHP56Migration' => true,
        '@PHPUnit60Migration:risky' => true,
        //'@PhpCsFixer' => true,
        //'@PhpCsFixer:risky' => true,
        'header_comment' => ['header' => $header],
        'list_syntax' => ['syntax' => 'long'],

        // custom
        //https://mlocati.github.io/php-cs-fixer-configurator
        '@PSR2' => true,
        '@PHP71Migration:risky' => true,
        'header_comment' => ['header' => $header],
        'list_syntax' => ['syntax' => 'long'],
        'method_separation' => true,
    ])
    ->setFinder($finder)
;

// special handling of fabbot.io service if it's using too old PHP CS Fixer version
if (false !== getenv('FABBOT_IO')) {
    try {
        PhpCsFixer\FixerFactory::create()
            ->registerBuiltInFixers()
            ->registerCustomFixers($config->getCustomFixers())
            ->useRuleSet(new PhpCsFixer\RuleSet($config->getRules()));
    } catch (PhpCsFixer\ConfigurationException\InvalidConfigurationException $e) {
        $config->setRules([]);
    } catch (UnexpectedValueException $e) {
        $config->setRules([]);
    } catch (InvalidArgumentException $e) {
        $config->setRules([]);
    }
}

return $config;
