#services:

  #wordpress:
  #  #https://stackoverflow.com/a/65592942/3929620
  #  #https://github.com/docker/for-mac/issues/5873
  #  platform: linux/x86_64

  #node:
  #  environment:
  #    #https://github.com/vercel/next.js/issues/30296#issuecomment-952128906
  #    NODE_OPTIONS: --openssl-legacy-provider
  #    #https://github.com/lovell/sharp/issues/3894#issuecomment-1851896550
  #    #https://github.com/lovell/sharp/issues/3893#issuecomment-1888913864
  #    #https://github.com/lovell/sharp/pull/3897#issue-2043375386
  #    #https://github.com/lovell/sharp/blob/bd4f1abba28831b8db246366f2f5f8d5ed701eac/#test/beforeEach.js#L9
  #    #VIPS_NOVECTOR: true
  #    #https://stackoverflow.com/a/52479399/3929620
  #    #NODE_TLS_REJECT_UNAUTHORIZED: 0