includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    excludes_analyse:
        - build/*
        - symlink/*
        - vendor/*
    paths:
        - %currentWorkingDirectory%/src/

