includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    scanFiles:
        - acf-uppy.php
    bootstrapFiles:
        - stubs/constants.stub
    paths:
        - src/

