<?xml version="1.0"?>
<psalm
    errorLevel="2"
    findUnusedBaselineEntry="true"
    findUnusedCode="true"
    findUnusedPsalmSuppress="true"
>
    <projectFiles>
        <directory name="src" />
        <directory name="tests" />
        <file name="*.php" />
    </projectFiles>
</psalm>